protobuf-*
*.meta
UnityClient/Assets/Contracts/
web/contracts/
loom_dragon_coin_address
loom_dragon_coin_tx_hash
loom_dragon_token_address
loom_dragon_token_tx_hash
loom_gateway_address
mainnet_dragon_token_address
mainnet_dragon_token_tx_hash
mainnet_gateway_address
