@import '../../../styles/variables.scss';

.container {
  height: 340px;
  width: 250px;
  border-radius: 20px;
  border: 3px dashed $pallete-secondary;
  cursor: pointer;

  &:hover {
    border: 3px dashed $pallete-tertiary;
  }
}

.content {
  user-select: none;
  text-align: center;
  height: 100%;
  padding: 0 40px!important;
}

.addIcon {
  color: $pallete-tertiary;
  margin: 60px 0 20px;
}

.heading {
  padding: 0 0 20px;
  font-weight: 600 !important;
}
