.ui-view-dragons {
    &__container-div {
        margin-top: 20px;
    }

    &__chains-headings {
        text-align: center;
    }

    &__oracle-heading {
        text-align: center;
        padding-top: 50px;
    }
}