@import '../../../styles/variables.scss';

.main {
  padding: 40px 0;
  background-color: $pallete-primary;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 316px);
}

.container {
  width: $max-width-by-screen-desktop;
}

.searchbar {
  display: flex;
}

.fieldsFilterForm {
  align-content: space-between;

  &_secondGroup {
    display: flex;
    align-items: center;
    margin-left: auto;

    &_sortByLabel,
    &_sortByValue {
      padding-right: 8px !important;
    }
  }
}