$font-family-generic: Calibre, Helvetica, Arial, Roboto, sans-serif;

$font-color-black: #222;

$max-width-by-screen: 80%;

$pallete-primary: #fff;
$pallete-secondary: #88f;
$pallete-tertiary: #55e;
$pallete-error: #f44;
$pallete-background: #fff;

// HOME
$section-desktop-margins: 100px;
$section-mobile-margins: 60px;
