$font-color-black: #333;

$font-family-generic: Calibre, Helvetica, Arial, Roboto, sans-serif;

$pallete-primary: #ecfcff;
$pallete-secondary: #5edfff;
$pallete-error: #ef5350;
$pallete-background: #b2fcff;
