$font-family-generic: Calibre, Helvetica, Arial, Roboto, sans-serif;

$font-color-black: #222;

$pallete-primary: #fff;
$pallete-secondary: #88f;
$pallete-tertiary: #55e;
$pallete-error: #f44;
$pallete-background: #fff;
