@import '../../../styles/variables.scss';

.main {
  padding: 40px 0 0 0;
  background-color: $pallete-primary;
  display: flex;
  justify-content: center;
}

.container {
  width: $max-width-by-screen-desktop;
  display: block;
  justify-content: flex-start;
}

.guidesAnchor {
  display: block;
  width: fit-content;
  text-decoration-color: $pallete-secondary;

  &:not(:hover) {
    text-decoration: none;
  }
}
