@import '../../../styles/variables.scss';

.main {
  padding: 40px 0;
  background-color: $pallete-primary;
  display: flex;
  justify-content: center;
}

.container {
  width: $max-width-by-screen-mobile;
  display: block;
  justify-content: flex-start;

  & > div {
    margin: auto;
    width: $max-width-by-screen-mobile-vw;
  }
}

.guidesAnchor {
  width: fit-content;
  margin-bottom: 20px;
  text-decoration-color: $pallete-secondary;

  &:not(:hover) {
    text-decoration: none;
  }
}
