.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 32px;
  width: 300px;
}

.usernameField,
.passwordField,
.submitButton {
  width: 100%;
  margin-top: 8px !important;
}
