@import '../../../styles/variables.scss';

.spinnerContainer {
  text-align: center;
  padding: 40px 0;
  min-height: calc(100vh - 530px);
}

.main {
  padding: 40px 0;
  background-color: $pallete-primary;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 464px);
}

.container {
  width: $max-width-by-screen-desktop;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;

  & > div {
    margin: auto;
  }
}
