@import '../../../styles/variables.scss';

.main {
  padding: 40px 0;
  background-color: $pallete-primary;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 464px);
}

.container {
  width: $max-width-by-screen-mobile;
}
