.landing {
  text-align: center;
}

.landing-logo {
  animation: landing-logo-spin infinite 20s linear;
  height: 80px;
}

.landing-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.landing-intro {
  font-size: large;
}

@keyframes landing-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
