@import '../../styles/variables.scss';

.homeIconLabelAnchor {
  display: flex;
  color: $font-color-black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.homeLabel {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 0 12px;
  letter-spacing: -0.3px;
  line-height: 18px;
}

// /* #### Mobile styles #### */
// @media screen and (max-width: 480px) {
//   .homeLabel {
//     display: none;
//   }
// }

// /* #### Not Mobile styles #### */
// @media screen and (min-width: 481px) {
//   /* some CSS here */
// }
