.container {
  margin-top: 20px;
}

.map-acounts__input {
  width: 360px;
}

.chains-headings {
  text-align: center;
}

.oracle-heading {
  text-align: center;
  padding-top: 50px;
}

.container-grid__dragons-items {
  min-height: 300px;
}
