.container {
  margin-top: 20px;
}

.mapAcountsInput {
  width: 360px;
}

.chainsHeadings {
  text-align: center;
}

.oracleHeading {
  text-align: center;
  padding-top: 50px;
}

.containerGridDragonsItems {
  min-height: 300px;
}
