.fieldsFilterForm {
  align-content: space-between;

  &_secondGroup {
    display: flex;
    align-items: center;
    margin-left: auto;
    user-select: none;

    &_sortByLabel,
    &_sortByValue {
      padding-right: 16px !important;
    }
  }
}
