.searchbar {
  display: flex;
}

.fieldsFilterForm {
  &_firstGroup {
    display: flex;
    width: 100%;
  }

  &_secondGroup {
    display: flex;
    user-select: none;
    justify-content: space-between;
    width: 100%;

    &_sortByValue {
      width: 45%;
    }
  }
}
