@import '../../../styles/variables.scss';

.main {
  padding: $section-mobile-margins 0;
  justify-content: center;
  text-align: center;
  display: flex;
  background-color: #f3f1ee;
  background-image: url(https://www.cryptokitties.co/images/pattern-tile.svg);
}

.card {
  padding: 40px 0;
  max-width: $max-width-by-screen;
  border-radius: 50px !important;
}

.guideButton {
  margin: 10px !important;
  width: 100%;
  border-radius: 30px !important;
  text-transform: none !important;
}
