@import '../../../styles/variables.scss';

.main {
  padding: $section-mobile-margins 0;
  background-color: $pallete-primary-alternative;
  background-image: url(https://www.cryptokitties.co/images/pattern-tile.svg);
  display: flex;
  justify-content: center;
}

.card {
  padding: 40px 20px;
  max-width: $max-width-by-screen-mobile;
  border-radius: 50px !important;
}

.guideButton {
  border-radius: 30px !important;
  text-transform: none !important;
  width: 100%;
  margin: 5px 0 !important;
}

.img {
  height: 170px;
  width: 170px;
  margin: 0 auto;
}
