@import '../../../styles/variables.scss';

.landingImage {
  background-image: url('/assets/home/background_dragon-land.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  padding: $section-desktop-margins 0;
}

.title {
  display: flex;
  justify-content: center;
}

.images {
  display: flex;
  justify-content: center;
}
