{
    "extends": ["bragi", "plugin:prettier/recommended"],
    "plugins": ["react-hooks", "jest", "prettier"],
    "env": {
        "jest/globals": true
    },
    "rules": {
        "prettier/prettier": "error",
        "jest/no-disabled-tests": "warn",
        "react-hooks/rules-of-hooks": "error",
        "import/no-extraneous-dependencies": "off",
        "nordic/i18n-jsx-no-literals": "warn",
        "camelcase": "off",
        "react/forbid-foreign-prop-types": "off",
        "react/sort-prop-types": [
            "off",
            {
                "callbacksLast": true,
                "ignoreCase": true,
                "requiredFirst": false,
                "sortShapeProp": true
            }
        ]
    },
    "overrides": [
        {
            "files": ["**/*.spec.js"],
            "rules": {
                "nordic/i18n-jsx-no-literals": "off"
            }
        }
    ]
}